<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login Forms</h2>
    <form action="/login/insertLogin" method="post">
        <label for="email">First name:</label><br>
        <input type="text" id="fname" name="email"><br>
        <label for="password">Last name:</label><br>
        <input type="text" id="lname" name="password"><br><br>
        <input type="submit" value="Submit">
    </form> 
</body>
</html>