footer{
    display: flex;
    width: 100%;
    height: var(--tamanho-height-header);
    justify-content: center;
    background-color: var(--header-color);
    bottom: 0;
    left: 0;
}

footer h1{
    font-size: 12px;
    color: rgb(0, 107, 230);
    opacity: 0.75;
}

div.footer{
    display: flex;
    align-items: center; 
    justify-content: center; 
}