header{
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aquamarine;
}

a{
    text-align: center;
    align-items: center;
    padding: 20px;
}