*{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    height: auto;
    width: auto;
    background-size: cover;
}

header{
    width: auto;
    height: var(--tamanho-height-header);
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
    justify-content: space-around;
    background-color: var(--header-color);
}

div.header{
    text-align: center;
}

.header a{
    text-align: center;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

div.logo{
    text-align: right;
    height: var(--tamanho-height-header);
}

.logo img, .logo a{
    width: auto;
    height: var(--tamanho-height-header);
}

div.perfil a{
    text-align: left;
    text-decoration: none;
    color: rgb(0, 107, 230);
    font-size: 18px;
}