<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/header.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="../../public/img/logo.png"></a>
        </div>
        <div class="header">
            <a href="#">Passagens</a>
            <a href="#">Hotéis</a>
            <a href="#">Carros</a>
            <a href="#">Lugares</a>
            <a href="#">Atendimento</a>
        </div>
        <div class="perfil">
            <a href="#">Perfil</a> <!-- dropcolum --> <!-- Login / Singup / logout / Ver perfil
            <a href="#">Viagens</a> dropcolum  Agendadas / Finalizadas / Canceladas
            -->
        </div>
    </header>
</body>
</html>