<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/header.css">
</head>
<body>
    <header>
        <div class="header">
            <a href="/">Logo</a>
            <a href="#">Passagens Aéreas</a>
            <a href="#">Hotéis</a>
            <a href="#">Carros</a>
            <a href="#">Lugares</a>
            <a href="#">Atendimento</a>
            <a href="#">Suas viagens</a> <!-- dropcolum --> <!-- Agendadas / Finalizadas / Canceladas-->
            <a href="#">Perfil</a> <!-- dropcolum --> <!-- Login / Singup / logout / Ver perfil-->
        </div>
    </header>
</body>
</html>